// Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(7, 99%, 70%); // graphic design text
$darkBlue: hsl(198, 62%, 26%); // photography text
$darkModerateCyan: hsl(168, 34%, 41%);
$footer: #90d4c5;
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: #ffffff;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; //18px
$font-lg: 1.25rem; // 24px
$font-xlg: 3.25rem; // 52px

// Breakpoints
// 576px, 768px, 992px, 1200px, 1400px
$breakpoints-up: (
  xs: 0,
  sm: "36rem",
  md: "48rem",
  lg: "62rem",
  xl: "75rem",
  xxl: "87.5rem",
);

// 359px, 575px, 767px, 991px, 1199px, 1399px
$breakpoints-down: (
  xs: "22.4375rem",
  sm: "35.9375rem",
  md: "47.9375rem",
  lg: "61.9375rem",
  xl: "74.9375rem",
  xxl: "87.4375rem"
);
