.hide-for-mobile {
  @include breakpoint-down("lg") {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up("lg") {
    display: none !important;
  }
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
}

.no-scroll {
  overflow: hidden;
}
